# Introduction to Python

## 1. Objects

In [1]:
print(2)
print(5)
print("Hello")

In [2]:
a = 2
b = "Hello"
c = True
d = 2.0
print(a,b,c,d)

In [3]:
print(
    type(a),
    type(b),
    type(c),
    type(d)
     )

<class 'int'> <class 'str'> <class 'bool'> <class 'float'>

## 2. Operations

In [4]:
a = 2 
b = 3

In [5]:
# this is a comment
print(
    a+b, # this is a comment
    a*b, # this is a comment
    a**b, # this is a comment
    a/b,
    a//b
)

5 6 8 0.6666666666666666 0

In [6]:
"Hello" + " World"

'Hello World'

In [7]:
"Hello "*4

'Hello Hello Hello Hello '

In [8]:
#"Hello "**4

In [9]:
a = (1 > 3)
b = (3 == 3)
print(a, b)

print(a or b)
print(a and b)

False True
True
False

## 3. Use functions

In [10]:
print(type(3))
print(len('hello'))
print(round(3.3))

<class 'int'>
5
3

In [11]:
#?round

In [12]:
round(3.14159,3)

3.142

In [13]:
dir(__builtins__);

In [14]:
import math

In [15]:
import math as m

In [16]:
from math import pi

In [17]:
from math import *

In [18]:
pi

3.141592653589793

In [19]:
m.pi

3.141592653589793

In [20]:
math.pi

3.141592653589793

In [21]:
math.sqrt(4)

2.0

In [22]:
math.sin(2)

0.9092974268256817

## 4. Methods

In [23]:
a = "hello world"

In [24]:
type(a)

str

In [25]:
print(a.capitalize())
print(a.upper())
print(a.replace("o", "--"))

Hello world
HELLO WORLD
hell-- w--rld

## 5. Indexing and Slicing

In [26]:
a = a.upper()
a

'HELLO WORLD'

In [27]:
a[0:2]

'HE'

In [28]:
a[2:]

'LLO WORLD'

In [29]:
a[:4]

'HELL'

In [30]:
a[::3]

'HLWL'

In [31]:
a[-5:]

'WORLD'

In [32]:
a[-1]

'D'

In [33]:
a[::-1]

'DLROW OLLEH'

In [34]:
"DO" in a

False

## 6. Collection of things

* `list`
* `tuple`
* `dictionary`

### List

In [35]:
a = ["blueberry", "strawberry", "pineapple", 1, True]
type(a)

list

In [36]:
a[::-1]

[True, 1, 'pineapple', 'strawberry', 'blueberry']

In [37]:
a[-1]

True

In [38]:
a[1]

'strawberry'

In [39]:
a

['blueberry', 'strawberry', 'pineapple', 1, True]

In [40]:
a[0] = "new fruit"

In [41]:
print(a)

['new fruit', 'strawberry', 'pineapple', 1, True]

In [42]:
a.append("a new thing")

In [43]:
a

['new fruit', 'strawberry', 'pineapple', 1, True, 'a new thing']

In [44]:
a.pop()
a.pop()
a.pop()

1

In [45]:
a

['new fruit', 'strawberry', 'pineapple']

In [46]:
a.sort()

In [47]:
a

['new fruit', 'pineapple', 'strawberry']

In [48]:
a.reverse()

In [49]:
a

['strawberry', 'pineapple', 'new fruit']

In [50]:
a = sorted(a)

In [51]:
a

['new fruit', 'pineapple', 'strawberry']

In [52]:
a.sort()

In [53]:
a

['new fruit', 'pineapple', 'strawberry']

> **Challenge:** Store a bunch of heights (in metres) in a list
1. Ask five people around you for their heights (in metres).
2. Store these in a list called `heights`.
3. Append your own height to the list.
4. Get the first height from the list and print it.

In [54]:
# Solution
heights = [1.72, 1.55, 1.98, 1.66, 1.78]
heights.append(1.88)
heights[0]

1.72

### Tuple

In [55]:
b = (1,2,3,4,5)
type(b)

tuple

In [56]:
b1 = [1,2,3,4,5]
type(b1)

list

In [57]:
b1[0] = 2
b1

[2, 2, 3, 4, 5]

In [58]:
#b[0] = 2

### Dictionaries

`key` $\to$ `value` pairs

In [59]:
my_dict = {"Marry" : 22 , "Frank" : 33  }

In [60]:
my_dict

{'Marry': 22, 'Frank': 33}

In [61]:
my_dict["Marry"]

22

In [62]:
my_dict["Frank"]

33

In [63]:
my_dict["Anne"] = 13

In [64]:
my_dict

{'Marry': 22, 'Frank': 33, 'Anne': 13}

In [65]:
my_dict["Anne"]

13

In [66]:
my_dict.get("Heidi", "Danger")

'Danger'

In [67]:
my_dict.items()

dict_items([('Marry', 22), ('Frank', 33), ('Anne', 13)])

In [68]:
my_dict.keys()

dict_keys(['Marry', 'Frank', 'Anne'])

In [69]:
my_dict.values()

dict_values([22, 33, 13])

## 7. DRY (_Dont't repeat yourself_)
__`for` Loops__

In [70]:
wordlist = ["hi", "hello", "by"]

In [71]:
import time
for word in wordlist:
    print(word + "!")
    time.sleep(1)
    print("-----------")
print("Done")

hi!
-----------
hello!
-----------
by!
-----------
Done

In [72]:
for e, word in enumerate(wordlist):
    print(e, word)
    print("-----")

0 hi
-----
1 hello
-----
2 by
-----

> **Challenge**
* Sum all of the values in a collection using a for loop
`numlist = [1, 4, 77, 3]`

In [73]:
# solution
numlist = [1, 4, 77, 3]
total = 0
for mymother in numlist:
    total = total + mymother
print(total)

85

> **Challenge**
* Combine items from two lists and print them as one string to the console   
`name = ["John", "Ringo", "Paul", "George"]`   
`surname = ["Lennon", "Star", "McCartney", "Harrison"]`

In [74]:
name = ["John", "Ringo", "Paul", "George"]
surname = ["Lennon", "Star", "McCartney", "Harrison"]

In [75]:
# Solution 1
for e, n in enumerate(name):
    print(e, n)
    print(n, surname[e])
    print("-----")

0 John
John Lennon
-----
1 Ringo
Ringo Star
-----
2 Paul
Paul McCartney
-----
3 George
George Harrison
-----

In [76]:
# Solution 2
for i in zip(name, surname):
    print(i[0], i[1])

John Lennon
Ringo Star
Paul McCartney
George Harrison

In [77]:
list(zip(name, surname))

[('John', 'Lennon'),
 ('Ringo', 'Star'),
 ('Paul', 'McCartney'),
 ('George', 'Harrison')]

**`while` loop**

In [78]:
# and want to stop once a certain condition is met.
step = 0
prod = 1
while prod < 100:
    step = step + 1
    prod = prod * 2
    print(step, prod)
    
print('Reached a product of', prod, 'at step number', step)

1 2
2 4
3 8
4 16
5 32
6 64
7 128
Reached a product of 128 at step number 7

## 8. Control Flow

In [79]:
x = 0

if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is zero

> **Challenge**
Write a countdown!

In [80]:
range(10)

range(0, 10)

In [81]:
#time.sleep(1)
for number in range(10):
    count = 10-number
    print(count)
    time.sleep(1)
    if  count == 1:
        print("Engine start!")

10
9
8
7
6
5
4
3
2
1
Engine start!

## 9. IO

Write a text file

In [82]:
f = open("./data/my_file.txt", "w")   
for i in range(5):
    f.write("Line {}\n".format(i))
f.close()

In [83]:
# using a context manager
with open("./data/my_file.txt", "w") as f:   
    for i in range(5):
        f.write("LINE {}\n".format(i))

Read a file

In [84]:
with open ("./data/my_file.txt", "r") as f:
    print(f.read())

LINE 0
LINE 1
LINE 2
LINE 3
LINE 4

>**Challenge** 
* Extract the numerical values of the file `my_file.txt` into a list of floating point values.

In [85]:
my_storage = [] #list()
with open ("./data/my_file.txt", "r") as f:
    for line in f:
        number = float(line.split()[1]) 
        my_storage.append(number)
my_storage

[0.0, 1.0, 2.0, 3.0, 4.0]

In [86]:
"LINE 0".split()

['LINE', '0']

In [87]:
"LINE 0".split()[1]

'0'

In [88]:
float("LINE 0".split()[1])

0.0

## 10  Functions (UDFs)

In [89]:
def my_func(a,b,c=10):
    rv = (a-b)*c
    return rv

In [90]:
my_result = my_func(a=1,  b=2)
my_result

-10

> **Challenge** 
* Write a function that computes Kelvin from Fahrenheit (`fahrenheit_to_kelvin`)
* Write a function that computes Celsius from Kelvin (`kelvin_to_celsius`)
* Write a function that computes Celsius form Fahrenheit (`fahrenheit_to_celsius`); Resue the two functions from above.

#### @1

In [91]:
def fahrenheit_to_kelvin(a):
    """
    Function to compute Fahrenheit from Kelvin
    """
    kelvin = (a-32.0)*5/9 + 273.15
    return kelvin

In [92]:
fahrenheit_to_kelvin(341)

444.8166666666666

#### @2

In [93]:
def kelvin_to_celsius(temperature_K):
    '''
    Function to compute Celsius from Kelvin
    '''
    rv = temperature_K - 273.15
    return rv

In [94]:
kelvin_to_celsius(0)

-273.15

#### @3

In [95]:
def fahrenheit_to_celsius(temperature_F):
    '''
    Function to compite Celsius from Fahrenheit
    '''
    temp_K = fahrenheit_to_kelvin(temperature_F)
    temp_C = kelvin_to_celsius(temp_K)
    return temp_C

### Code refactoring

In [96]:
%%writefile temperature_module.py

def kelvin_to_celsius(temperature_K):
    '''
    Function to compute Celsius from Kelvin
    '''
    rv = temperature_K - 273.15
    return rv

def fahrenheit_to_celsius(temperature_F):
    '''
    Function to compite Celsius from Fahrenheit
    '''
    temp_K = fahrenheit_to_kelvin(temperature_F)
    temp_C = kelvin_to_celsius(temp_K)
    return temp_C
    
def fahrenheit_to_kelvin(a):
    """
    Function to compute Fahrenheit from Kelvin
    """
    kelvin = (a-32.0)*5/9 + 273.15
    return kelvin

Overwriting temperature_module.py

In [97]:
import temperature_module as tm

In [98]:
tm.kelvin_to_celsius(100)

-173.14999999999998

In [99]:
tm.fahrenheit_to_celsius(100)

37.77777777777777

In [100]:
tm.fahrenheit_to_kelvin(100)

310.92777777777775