# Time Series Analysis

## Introduction

In this section we explore a real world data set. We consider land-surface temperature anomalies provided by [__Berkeley Earth__](http://berkeleyearth.org/), an independent non-profit entity, which established an [open database](http://berkeleyearth.org/data/) with air temperature data of different spatial and temporal scales. 

### Objectives

1. We explore the global temperature anomaly from 1750 to present.
2. We construct an informative time series plot for the global temperature anomaly.   
3. We write a function to plot temperature anomalies for any given country/region of the database.
4. Save a nice locking time series plot to disk.

***
## Getting started

We start by importing the packages/libraries that we will need for these tasks.

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

# this call causes the figures to be plotted below the code cells
%matplotlib inline

***
## Objective 1 - Explore the global temperature anomaly from 1750 to present

The land-surface average temperature data set produced by the Berkeley Averaging method is found online:

http://berkeleyearth.lbl.gov/auto/Global/Complete_TAVG_complete.txt

We already downloaded the data set for you. It is stored in the `./data` folder under the filename `Complete_TAVG_complete.txt`.



>**Challenge 1:** Inspect the first 50 lines of the raw text file and read the metadata to get familiar with the nature of the data set and its generation. (Time: 3 Minutes)   

*Hint: To run a shell command from within the `Jupyter Notebook` use the `!` magic.    
In order to look at the first 50 lines of the text file you may use the `bash` command `head -50 PATH_TO_FILE/FILENAME`.*

In [8]:
## your code here ...
! head -50 ./data/Complete_TAVG_complete.txt

% This file contains a detailed summary of the land-surface average
% results produced by the Berkeley Averaging method.  Temperatures are
% in Celsius and reported as anomalies relative to the Jan 1951-Dec 1980
% average.  Uncertainties represent the 95% confidence interval for
% statistical and spatial undersampling effects.
%
% The current dataset presented here is described as:
%
%   Estimated Global Land-Surface TAVG based on the Complete Berkeley Dataset
%
%
% This analysis was run on 09-Feb-2017 03:01:54
%
% Results are based on 43595 time series
%   with 16876139 data points
%
% Estimated Jan 1951-Dec 1980 absolute temperature (C): 8.66 +/- 0.07
%
% As Earth's land is not distributed symmetrically about the equator, there
% exists a mean seasonality to the global land-average.
%
% Estimated Jan 1951-Dec 1980 monthly absolute temperature:
%      Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
%      2.60  3.21  5.33  8.36 11.37 13.52 14.41 13.92 12.11  9.26  6.12  3.66
% +/-  0.10  0.09  0.08  0.08  0.08  0.09  0.09  0.09  0.08  0.08  0.08  0.10
%
% For each month, we report the estimated land-surface average for that
% month and its uncertainty.  We also report the corresponding values for
% year, five-year, ten-year, and twenty-year moving averages CENTERED about
% that month (rounding down if the center is in between months).  For example,
% the annual average from January to December 1950 is reported at June 1950.
%
%                  Monthly          Annual          Five-year        Ten-year        Twenty-year
% Year, Month,  Anomaly, Unc.,   Anomaly, Unc.,   Anomaly, Unc.,   Anomaly, Unc.,   Anomaly, Unc.

  1750     1     0.018  3.352       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750     2     0.087  3.144       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750     3     0.232  2.321       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750     4    -0.217  2.106       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750     5    -0.133  2.257       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750     6    -0.497  1.869       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750     7     1.563  1.976       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750     8     0.431  2.459       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750     9    -1.246  2.726       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750    10    -3.053  2.046       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750    11       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1750    12    -1.648  3.247       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1751     1    -0.494  3.339       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1751     2    -2.379  3.168       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
  1751     3     0.799  2.264       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN

The dataset is a good example of datasets used in science: text format, good documentation, human readable but a bit harder to deal with programmatically (e.g. column names as comments instead of strict CSV).

***

### Objective 1.1 - Load the data set with `pandas`

The `pandas` library offers several data import operations. In this section we use the `pd.read_csv()` function. This function is very powerful and ships with many additional arguments to parse data, given in a variety of forms. 

The get familiar with the `pd.read_csv()` function, we look up the documentation to gain some intuition. 

> **Challenge 2:** Type `?pd.read_csv` into the cell below and run the cell.

In [ ]:
## your code here ...

Don't be intimidated by the number of available arguments to the function call.    
Note that most of the arguments come with a pre-defined default value, hence we focus on those few arguments, for which we actually need to provide the input.

>**Challenge 3: **Load the file `Complete_TAVG_complete.txt` using the `pd.read_csv()` function. Build up the function call sequentially in order to fulfill our particular needs. (Time: 8 Minutes)
* Start by providing the path to the file to the `pd.read_csv()` function.
* Use the `comment` argument, to specify which lines should not be parsed.
* Set `delim_whitespace=True` to specify that whitespace (e.g. ``' '`` or ``'    '``) will be used as the column separator.
* Set `header=None` to indicate that the first line is not a header line. 
* Set the `usecols` argument to pick a subset of the columns.  For the purpose of this tutorial we are only interested in the columns `"year"`, `"month"`, `"anomaly"`, and `"uncertainty"`. *Hint: Our columns of interest are at column indices `0`, `1`, `2`, `3`* 
* Specify column names by using the `names` argument (`["year", "month", "anomaly", "uncertainty"]`).

In [ ]:
## your code here ...

* For the sake of reproducibility we refactor our code and write a function called `read_temp_data`, with only one input argument, the `FILEPATH`.  _Note that we have already written the function for you. The code is stored in the folder_ `./src/_solutions/` _with the filename_ `time_series_analysis_f01.py`. We use the magic function `%load` to load the Python file.

      %load ./src/_solutions/time_series_analysis_f01.py

_Uncomment the code cell below and execute the code cell once to import the file and once more to actually run the code._

In [10]:
%magic

In [4]:
# %load ./src/_solutions/time_series_analysis_f01.py
def read_temp_data(FILEPATH):
    '''
    Read temperature data provided by the open database of Berkeley Earth
    '''
    COLUMN_NAMES = ["year", "month", "anomaly", "uncertainty"]
    df = pd.read_csv(FILEPATH,
                     comment="%", 
                     delim_whitespace=True, 
                     header=None, 
                     usecols=[0, 1, 2, 3], 
                     names=COLUMN_NAMES)
    return(df)

* Apply the `read_temp_data()` function to create a `DataFrame` object containing the global land surface temperature anomaly provided by the open database of Berkeley Earth and store it into a variable called `data_raw`.

In [6]:
FILEPATH = './data/Complete_TAVG_complete.txt'
data_raw = read_temp_data(FILEPATH)
data_raw

      year  month  anomaly  uncertainty
0     1750      1    0.018        3.352
1     1750      2    0.087        3.144
2     1750      3    0.232        2.321
3     1750      4   -0.217        2.106
4     1750      5   -0.133        2.257
5     1750      6   -0.497        1.869
6     1750      7    1.563        1.976
7     1750      8    0.431        2.459
8     1750      9   -1.246        2.726
9     1750     10   -3.053        2.046
10    1750     11      NaN          NaN
11    1750     12   -1.648        3.247
12    1751      1   -0.494        3.339
13    1751      2   -2.379        3.168
14    1751      3    0.799        2.264
15    1751      4   -0.484        1.895
16    1751      5      NaN          NaN
17    1751      6    0.423        1.827
18    1751      7      NaN          NaN
19    1751      8    0.106        2.520
20    1751      9   -1.945        2.684
21    1751     10      NaN          NaN
22    1751     11      NaN          NaN
23    1751     12      NaN          NaN
24    1752      1   -2.983        3.345
25    1752      2      NaN          NaN
26    1752      3    0.966        2.370
27    1752      4   -0.551        1.662
28    1752      5      NaN          NaN
29    1752      6      NaN          NaN
...    ...    ...      ...          ...
3175  2014      8    0.967        0.084
3176  2014      9    0.976        0.062
3177  2014     10    1.057        0.072
3178  2014     11    0.575        0.115
3179  2014     12    1.193        0.079
3180  2015      1    1.296        0.103
3181  2015      2    1.463        0.096
3182  2015      3    1.428        0.056
3183  2015      4    0.965        0.074
3184  2015      5    0.965        0.067
3185  2015      6    0.977        0.103
3186  2015      7    0.637        0.093
3187  2015      8    0.839        0.105
3188  2015      9    0.869        0.056
3189  2015     10    1.494        0.063
3190  2015     11    1.287        0.083
3191  2015     12    1.789        0.110
3192  2016      1    1.618        0.058
3193  2016      2    2.186        0.052
3194  2016      3    2.137        0.070
3195  2016      4    1.805        0.077
3196  2016      5    1.253        0.065
3197  2016      6    0.846        0.108
3198  2016      7    0.890        0.073
3199  2016      8    1.375        0.065
3200  2016      9    1.008        0.107
3201  2016     10    1.002        0.066
3202  2016     11    1.089        0.077
3203  2016     12    1.261        0.065
3204  2017      1    1.535        0.066

[3205 rows x 4 columns]

In [ ]:
## use the sample method to look at 10 rows at random

***
### Objective 1.2 - Exploratory data analysis

In this section we work with time series data; hence, we want to make use of the full functionality for time series analysis provided by the `pandas` library. Consequently, we provide `pandas` an appropriate time-based index.

In [ ]:
## make a copy of the DataFrame object
data_ts = data_raw.copy()

In [ ]:
# index of the DataFrame object

In [ ]:
# data types in the DataFrame object

>**Challenge 4:** Generate a time based index by combining the columns `year` and `month`. (Time: 5 Minutes)
* Apply the `astype()` method on a `pd.Series` object to convert an `int` into a `string`.
* Concatenate (`+`) the columns `year` and `month` (both being `string` objects) and apply `pd.to_datetime()` to generate a `datetime` object.
* Chain the `dt` attribute and the `to.period('M')` method together and apply them on the `datetime` object to generate a `PeriodIndex`
* Assign the `PeriodIndex` back to the `DataFrame` object `data_ts`.

In [ ]:
## your code here ...

* For the sake of reproducibility we refactor our code and write a function called `monthly_index`, with only one input argument, a `DataFrame` object. _Note that we have already written the function for you._ 

      %load ./src/_solutions/time_series_analysis_f02.py
      
_Uncomment the code cell below and execute the cell once to import the file and once more to actually run the code._

In [ ]:
# %load ./src/_solutions/time_series_analysis_f02.py

* Apply the `monthly_index()` function to create a `DataFrame` with a monthly `PeriodIndex` and store it into a variable called `data_monthly`.

In [ ]:
data_monthly = monthly_index(data_raw)
data_monthly.head()

> **Challenge 5**: Print the descriptive statistics of the `anomaly` column. (Time: 2 Minutes)
* count
* mean
* standard deviation
* min
* 25, 50, and 75%-quantile
* max  

_Hint: Recall the `describe()` method_

In [ ]:
##  your code here ...

> **Challenge 6**: Plotting of the distribution of the `anomaly` column. (Time: 2 Minutes)
* Plot the distribution of `anomaly` using the `plot.hist()` method (Feel free to play around with the `bins` argument).
* Plot the distribution of `anomaly` for the periods 1850-1900 and 1950-2000 in one plot (*Hint: Recall the `loc` method*)

In [ ]:
## your code here ...

***
## Objective 2 -  Construct an informative time series plot for the global temperature anomaly

The `pandas` library makes plotting very easy. Calling the `plot()` method on a `pd.Series` or `pd.DataFrame` object will create a plot. Note that `pandas` relies on the extremely powerful `matplotlib` library. Refer to the `matplotlib` [gallery](https://matplotlib.org/gallery/index.html) of the [online documentation](https://matplotlib.org/) to get an idea what `matplotlib` can do for you.

***
### Objective 2.1 -  Construct a simple time series plot of the global temperature anomaly

> **Challenge 7**: Plot a time series plot of the `anomaly` column. (Time: 3 Minutes)

_Hint: Use the `plot()` method_

In [ ]:
## your code here ...

***
### Objective 2.2 -  Improve the simple time series plot by computing a 10-year running mean for the `anomaly` and the `uncertainty` columns.

> **Challenge 8**: Compute a 10-year running mean for the `anomaly` and the `uncertainty` columns and plot them.
We compute a running mean by combining the `rolling()`  and the `mean()` method.   (Time: 10 minutes)
* The `rolling()` method takes several arguments. We need to find an appropriate value for the `window` argument. Further we set `center=True`. 
* Once we have called the `rolling()` method we chain it with the `mean()` method to compute the 10-year running mean. _Hint: Use the `plot()` method to verify the computation._
* Repeat the procedure for the `anomaly` and the `uncertainty` columns and add the two columns to the dataframe, denoted as `10-year-anomaly` and `10-year-uncertainty`. 
* Plot the `anomaly`, the `10-year-anomaly` as well as the `"10-year-uncertainty"` within one single plot. _Hint: Note that the `uncertainty` corresponds to the absolute value of deviation. Compute `10-year-anomaly` $+$ `10-year-uncertainty` and `10-year-anomaly` $-$ `10-year-uncertainty` to get the upper and lower bounds of uncertainty._

In [ ]:
## your code here ...

* For the sake of reproducibility we refactor our code and write a function called `plot_anomalies`, with two input argument, a `DataFrame` object and a `string`, corresponding to the title of the plot.

Note that we have already written the function for you. Moreover, we added some boilerplate code the control the figure aesthetics such as `color`, `linewidth`, `linestyle`, fillings (`fill_between`) and opacity (`alpha`); further we added a `title` and axis labels. 

> **Challenge 9:** Read the code line for line and try to figure out what each line of code is doing. (Time: 5 minutes)   
*The code is stored in the folder `./src/_solutions/` with the filename `time_series_analysis_f03.py`. We use the magic function `%load` to import the Python file.

    %load ./src/_solutions/time_series_analysis_f03.py

*Uncomment the code cell below.*

In [ ]:
# %load ./src/_solutions/time_series_analysis_f03.py

* Apply the `plot_anomalies()` function to create a figure.

In [ ]:
plot_anomalies(data_monthly, title="Global temperature anomaly relative to the period 1951-1980");

***
## Objective 3 - Write a function to plot temperature anomalies for any given country/region of the database

In the previous sections we sequentially built up code segments that finally produce an informative time series plot. In this section we refactor our code to become even more generic. We write a function that produces such a time series plot for any given region or country name.

Again we build up our code base sequentially; however this time, we make use of the functions `read_temp_data()`, `monthly_index()` and `plot_anomalies()`. Hence, reducing the lines of code to write and in addition, our code becomes more readable.

We follow the procedure outlined below
1. Locate the data files (find the correct url) of interest in the open database of [Earth Berkeley](http://berkeleyearth.org/).
* Load temperature data from the internet and preprocess it using our `read_temp_data()` function.
* Assign a time based index to the data set using our `monthly_index()` function.
* Plot the data of interest using our `plot_anomalies()` function.

***
### Objective 3.1 - Locate the data files (find the correct url) of interest in the open database of [Earth Berkeley](http://berkeleyearth.org/)

Follow the link below and you see that the temperature data set for each particular country/region can be accessed via an unique url:

http://berkeleyearth.lbl.gov/auto/Regional/TAVG/Text/

Note that Jupyter notebooks allow us to embed an `Iframe` into a notebook cell (see below)

In [ ]:
from IPython.display import IFrame
IFrame("http://berkeleyearth.lbl.gov/auto/Regional/TAVG/Text/", width="100%", height=400)

By investigating the structure of the database we realize that each particular data set can be assessed via an unique url, which may be decomposed into three parts:

Part 1 - the base url: `http://berkeleyearth.lbl.gov/auto/Regional/TAVG/Text/...`   
Part 2 -  the country/region name: `...afghanistan...`, `...africa...` or `...angola...`, among others.   
Part 3 -  the url suffix: `...-TAVG-Trend.txt`   

For example, the url for the temperature data set of Germany is 

`BASE_URL` + `COUNTRY` + `SUFFIX` = http://berkeleyearth.lbl.gov/auto/Regional/TAVG/Text/germany-TAVG-Trend.txt

> **Challenge 10**: Wrap this idea into a python function called `data_url()`, which takes one input argument, the name of the country/region. (Time: 5 minutes)    
_Hint: Concatenate `string` objects using the `+` sign_

In [ ]:
## your code here ...

* What is the url for the temperature data set for Germany?    
Use the function `data_url()` to build the url for accessing temperature data for Germany.

In [ ]:
data_url("germany")

***
### Objective 3.1, 3.2 and 3.3 - Load temperature data, assign a time based index and plot the data of interest

Owing to the fact that we consequently refactored our code into python functions, these tasks become fairly easy. We just have to call one function after the other.    

> **Challenge 11**: Apply `data_url()`, followed by `read_temp_data()`, `monthly_index()` and `plot_anomalies()` to plot the temperature anomaly for Germany from 1750 to present. (Time: 5 minutes)

*Note that the `pd.read_csv()` function, built into our `read_temp_data()` function, also accepts an url as input argument and that the  `plot_anomalies()` function awaits two arguments, a `DataFrame` object and a `string` object as `title`.*

In [ ]:
## your code here ...

* Once again, for the sake of reproducibility we refactor our code and write a function called `plot_country_anomalies`, with one input argument, a `string` object referring to a particular country/region of interest. Note that we have already written the function for you (`time_series_analysis_f04.py`). 

      %load ./src/_solutions/time_series_analysis_f04.py
    
_Uncomment the code cell below._

In [ ]:
# %load ./src/_solutions/time_series_analysis_f04.py

> **Challenge 12**: Use the function `plot_country_anomalies()` to plot the temperature anomalies for 
* `germany`
* `australia` and
* `china`   
(Time: 6 Minutes)

In [ ]:
## your code here ...

***

## Objective 4 - Save a time series plot to disk

Finally, we are done and want to save one of our plots to disk. Therefore we call the `plt.savefig()` function.

> **Challenge 13**: Create a plot of a country of your choice. Use the function `plt.savefig()` to save the plot to disk. Save the plot as a `.png` file with a resolution of 300 dpi in the folder `./figures/`. (Time: 5 Minutes)

In [ ]:
# your code here ...

***